.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 1rem;
}

.auth-heading {
  color: #000000;
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
}

.auth-subheading {
  color: #525252;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.auth-left {
  width: 50%;
  padding: 13rem 3rem;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
}

.auth-input-field {
  margin-bottom: 0.8rem;
  background-color: #ffff;
  border: 2px solid #c2c2c2;
  padding: 0.8rem;
  /* width: 500px; */
  width: min(500px, 100%);
  border-radius: 5px;
}

.auth-input-field:focus {
  outline-color: #7b7b7b;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.auth-submit-btn {
  background-color: #ed5353;
  border: none;
  width: 40%;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  color: #ffff;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.auth-submit-btn:hover {
  cursor: pointer;
  background-color: #aa2a2a;
}

.auth-right {
  background-image: url('banner.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
}

.auth-right-text {
  color: white;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
}
