.header {
  background-color: #ed5353;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  border-radius: 0 0 3.5rem 3.5rem;
}

.svg-1 {
  position: absolute;
  bottom: 0px;
  left: -22px;
  z-index: -2;
}
.svg-2 {
  position: absolute;
  top: -25px;
  left: 32%;
}
.svg-3 {
  position: absolute;
  bottom: -13px;
  right: 4%;
}

.btns {
  position: absolute;
  right: 52px;
  top: 28px;
}
.buttons {
  border: 1px solid white;
  padding: 0.5rem 2rem;
  color: #ffff;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.outlined-btn {
  background-color: transparent;
}
.outlined-btn:hover {
  color: #ed5353;
  background-color: #ffff;
}
.filled-btn {
  background-color: #ffff;
  color: #ed5353;
}
.filled-btn:hover {
  color: #ffff;
  background-color: transparent;
}
.logout {
  background-color: transparent;
  margin-right: 1rem;
  border: 0px solid white;
}

.logout-btn {
  border: 0px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  border-radius: 6px;
  margin-right: 1rem;
  color: white;
  font-weight: 600;
  margin-right: 0.5rem;
  cursor: pointer;
}

.a-loggin {
  color: #ffff;
  font-weight: 500;
  font-size: 1.2rem;
}
.a-loggin-btns {
  position: absolute;
  right: 82px;
  top: 16px;
  flex-direction: row;
  justify-content: space-between;
}
